<div class="jobListings__listing" data-qualifications="{%role%} {%level%} {%languages%} {%tools%}">
    <div class="jobListings__listing--image">
      <img src="{%logo%}" alt="{%company%} logo" class="jobListings__listing--image-img">
    </div>
    <div class="jobListings__listing--details">
      <div class="jobListings__listing--details-company">
        <h3 class="jobListings__listing--details-company-NAME">{%company%}</h3>
        {%new%}
        {%featured%}
      </div>
      <div class="jobListings__listing--details-job">
        <h2 class="jobListings__listing--details-job-NAME">{%position%}</h2>
      </div>
      <div class="jobListings__listing--details-info">
        <span class="jobListings__listing--details-infoData">{%postedAt%}</span>
        <span class="jobListings__listing--details-infoData">{%contract%}</span>
        <span class="jobListings__listing--details-infoData">{%location%}</span>
      </div>
    </div>  
    <div class="jobListings__listing--qualifications">
            
            {%qualifications%}
            
    </div>
  </div>